<!DOCTYPE html>
<html>
    
    <head>
        
    </head>
    
    
    <body>
       <p>Message recieved via DevMatch contact form!
          
          From: <%= "#{ @name }, #{ @email }." %></p>
          <p><%= @body %></p>
    </body>
    
</html>